<div class="col md-4">
    <div class="card">
        <img src="img/book-cover.jpg" class="card-img-top" alt="Обложка книги">
        <div class="card-body">
            {{#link-to "books.detail" book.id}}
            <h5 class="card-title">{{book.name}}</h5>
            {{/link-to}}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div><strong>Автор</strong>: {{book.author}}</div>
                <div><strong>Количество страниц</strong>: {{book.pageCount}}</div>
                {{!-- <div><strong>Теги</strong>: </div> --}}
            </li>
        </ul>
         <div class="card-footer">
            <div class="row">
                <div class="col text-right">
                    {{#link-to "books.edit" book.id }}
                    <button type="button" class="btn btn-edit">Редактировать
                    </button>
                    {{/link-to }}
                    {{!-- <button type="button" class="btn btn-trash" onclick={{action "deleteBook" book}}>Удалить</button> --}}
                    <button type="button" class="btn btn-trash">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</div>