<div class="col mb-4">
    <div class="card">
        <img src="img/speaker.jpg" class="card-img-top" alt="Фото спикера">
        <div class="card-body">
            {{#link-to "speakers.detail" speaker.id}}
            <h5 class="card-title">{{speaker.lastName}} {{speaker.firstName}} {{speaker.patronymic}}</h5>
            {{/link-to}}
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col text-right">
                    {{#link-to "speakers.edit" speaker.id }}
                    <button type="button" class="btn btn-edit">Редактировать</button>
                    {{/link-to }}
                    {{!-- <button type="button" class="btn btn-trash" onclick={{action "deleteSpeaker" speaker}}>Удалить</button> --}}
                </div>
            </div>
        </div>
    </div>
</div>