<div class="slide-out-bg"></div>

<div class="slide-out">
    <div class="slide-out-catd">
        {{#link-to "speakers.index"}}
        <span class="sr-only">Назад</span>
        {{/link-to}}

        <div class="slide-out-heading">
            <div class="title">
            </div>
        </div>
    </div>
</div>