<div class="slide-out-bg"></div>
<div class="slide-out">
    <div class="slide-out-card">
        {{#link-to "books" class="btn-back"}}
        <span class="sr-only">Back</span>
        {{/link-to}}

        <div class="slide-out-heading">
            <div class="title">
                <h3>Добавление новой книги</h3>
            </div>
        </div>

        <div class="slide-out-content">
            {{book-form book=model onsumbit=(action "saveBook")}}
        </div>
    </div>
</div>