<div class="slide-out-bg"></div>
<div class="slide-out">
    <div class="slide-out-card">
        {{#link-to "speakers" class="btn-back"}}
        <span class="sr-only">Back</span>
        {{/link-to}}
        
        <div class="slide-out-heading">
            <div class="title">
                <h3>New speaker</h3>
            </div>
        </div>

        <div class="slide-out-content">
            {{!-- <form onsubmit={{action "saveSpeaker"}}>
                <div class="field">
                    <laber>First Name: </laber>
                {{input type="text" placeholder="First Name" value=firstName}}
                </div>

                <div class="field">
                    <laber>Last Name: </laber>
                {{input type="text" placeholder="Last Name" value=lastName}}
                </div>

                <div class="form-footer">
                    <button type="submit" class="btn-sumbit">save</button>
                </div>
            </form> --}}
            {{speaker-form speaker=model onsumbit=(action "saveSpeaker")}}

        </div>
    </div>
</div>