<div class="slide-out-bg"></div>

<div class="slide-out">
    <div class="slide-out-catd">
        {{#link-to "speakers.index"}}
        <span class="sr-only">Назад</span>
        {{/link-to}}

        <div class="slide-out-heading">
            <div class="title">
                <h3>{{model.lastName}} {{model.firstName}} {{model.patronymic}}</h3>

                <div class="actions">
                    {{#link-to "speakers.edit" model.id class="btn-pop"}}
                    Редактировать
                    {{/link-to}}
                    <button class="btn-recessed" onclick={{action "deleteSpeaker" model}}>Удалить</button>
                </div>
            </div>
        </div>
    </div>
</div>