<div class="container h-100">
    <div class="htop">
        {{#link-to "speakers" class="btn-back"}}
        <span class="sr-only">Назад</span>{{/link-to}}
         <h3 class="text-center">Редактирование информации о спикере: {{model.lastName}} {{model.firstName}} {{model.patronymic}}
        </h3>
        {{speaker-form speaker=model onsubmit=(action "saveSpeaker")}}
    </div>
</div>